{% extends "video/base.html" %}
{% block content %}
  <a href="{% url 'uploader:upload_video' %}">Upload videos</a>
  <table>
    <tr>
      <th>Название</th>
      <th>Статус</th>
      <th>Прогресс</th>
      <th>Количество лиц на видео</th>
    </tr>
  {% for video in videos %}
    <div class="item">
      <tr>
        <td>{{ video }}</td>
        <td>{{ video.get_status_display }}
        <td>{{ video.progress }}%</td>
        <td>{{ video.count_faces }}</td>
      </tr>
    </div>
  {% endfor %}
  </table>
{% endblock %}
