{% extends "base.html" %}
{% block content %}
    <h1>Upload Video</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_table }}
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors%}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p><input type="submit" value="Upload"></button></p>
            {% csrf_token %}
        </form>
{% endblock content %}
